<template name="slimLayout">
  <div class="ui inverted labeled icon left inline vertical sidebar menu">
    {{#each sidebarLinks}}
      <a href="#" class="item {{className}}">
        <i class="{{icon}} icon"></i> {{label}}
      </a>
    {{/each}}
  </div>

  <div class="ui fixed inverted main menu">
    <div class="container">
      <a class="launch item">
        <i class="content icon"></i>
        ¥{{tradesAmount}}({{tradesCount}})
      </a>
      <div class="right menu">
        <div class="ui dropdown item">
          {{viewName}}<i class="dropdown icon"></i>
          <div class="menu">
            <a class="item js-monitor-view">订单总览</a>
            <a class="item js-printer-view">打印订单</a>
            <a class="item js-dispatch-view">分线表单</a>
            <a class="item js-cashier-view">支付结算</a>
            <a class="item js-fans-view">所有粉丝</a>
          </div>
        </div>
        <!--div>
          <input type="text" id="datepicker">
        </div-->
        <div class="ui dropdown item">
          {{statusFilter}}<i class="dropdown icon"></i>
          <div class="menu">
            <a class="item js-not-delivered">等待发货</a>
            <a class="item js-shipped">等待收货</a>
            <a class="item js-finished">已经完成</a>
            <a class="item js-validated-orders">所有有效</a>
            <a class="item js-closed">已经退款</a>
            <a class="item js-not-checked-out">尚未提交</a>
            <a class="item js-buyer-closed">已被取消</a>
            <a class="item js-all-trades">全部订单</a>
          </div>
        </div>
        <div class="ui dropdown item">
          {{shippingFilter}}<i class="dropdown icon"></i>
          <div class="menu">
            <a class="item js-all-shipping-types">全部方式</a>
            <a class="item js-fetch-only">到店自提</a>
            <a class="item js-express-only">配送上门</a>
            <a class="item js-kd-only">只看快递</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="pusher">
    <div class="ui basic bottom attached segment">
      {{>yield}}
    </div>
  </div>
</template>
