<template name="dashboard">
    <h1></h1>
    {{#if isMonitorMode}}
        <div class="ui cards">
          {{#each filtered_trades}}
            {{>tradeItem}}
          {{/each}}
        </div>
    {{/if}}
    {{#if isPrinterMode}}
      {{#each filtered_trades_pair}}
          <div class="ui cards">
            {{#if trade_a}}
              {{>tradeItem trade_a}}
            {{/if}}
            {{#if trade_b}}
              {{>tradeItem trade_b}}
            {{/if}}
          </div>
      {{/each}}
    {{/if}}
    {{#if isDispatchMode}}
        {{{reportHtml}}}
    {{/if}}
    {{#if isCashierMode}}
      {{{cashierHtml}}}
    {{/if}}
</template>
