<template name="order">
  <div>
    <span style="{{mark_style}}">{{truncated_title}}</span>
    <span class="right floated">{{price_to_show}}</span>
  </div>
</template>

<template name="orderGeng">
  {{#if markedGeng}}
    <div>
    <span style="{{mark_style}}">{{truncated_title}}</span>
    <span class="right floated">{{price_to_show}}</span>
    </div>
  {{/if}}
</template>

<template name="orderYe">
  {{#if markedYe}}
    <div>
    <span style="{{mark_style}}">{{truncated_title}}</span>
    <span class="right floated">{{price_to_show}}</span>
    </div>
  {{/if}}
</template>

<template name="orderOther">
  {{#if markedOther}}
    <div>
    <span style="{{mark_style}}">{{truncated_title}}</span>
    <span class="right floated">{{price_to_show}}</span>
    </div>
  {{/if}}
</template>

<template name="orderLeng">
  {{#if markedLeng}}
    <div>
    <span style="{{mark_style}}">{{truncated_title}}</span>
    <span class="right floated">{{price_to_show}}</span>
    </div>
  {{/if}}
</template>

<template name="orderMian">
  {{#if markedMian}}
    <div>
    <span style="{{mark_style}}">{{truncated_title}}</span>
    <span class="right floated">{{price_to_show}}</span>
    </div>
  {{/if}}
</template>
