<template name="order">
  <div>
  <span style="{{mark_style}}">{{truncated_title}}...</span>
  <span class="right floated">
  *{{num}}&nbsp;&nbsp;¥{{total_fee}}
  </span>
  </div>
</template>

<template name="orderGeng">
  {{#if markedGeng}}
    <div>
      <span style="{{mark_style}}">{{truncated_title}}...</span>
      <span class="right floated">{{noticed_num}}</span>
    </div>
  {{/if}}
</template>

<template name="orderYe">
  {{#if markedYe}}
    <div>
      <span style="{{mark_style}}">{{truncated_title}}...</span>
      <span class="right floated">{{noticed_num}}</span>
    </div>
  {{/if}}
</template>

<template name="orderOther">
  {{#if markedOther}}
    <div>
      <span style="{{mark_style}}">{{truncated_title}}...</span>
      <span class="right floated">{{noticed_num}}</span>
    </div>
  {{/if}}
</template>

<template name="orderLeng">
  {{#if markedLeng}}
    <div>
      <span style="{{mark_style}}">{{truncated_title}}...</span>
      <span class="right floated">{{noticed_num}}</span>
    </div>
  {{/if}}
</template>

<template name="orderMian">
  {{#if markedMian}}
    <div>
      <span style="{{mark_style}}">{{truncated_title}}...</span>
      <span class="right floated">{{noticed_num}}</span>
    </div>
  {{/if}}
</template>
