<template name="tradeItem">
  <div class="ui card">
    <div class="content">
      <!--<img class="right floated mini ui image" src="{{order_thumb_path}}">-->
      <span class="linerSelector right floated"><i class="{{shipping_icon}}"></i>{{liner}}</span>
      <div class="header">
        {{contact_name}}  {{contact_mobile}}
      </div>
      <div class="tradeReminder meta">
        <div>{{tid}} {{status_label}}</div>
        {{#if noticed}}
        {{else}}
          <script>var s = new Audio('/sounds/hurry_money.wav'); s.play();</script>
        {{/if}}
      </div>
      <div><!-- class="description"-->
        <div>{{shipping_address}}</div>
          {{#if buyerMessageLeft}}
            <div>▶▶{{buyer_message}}◀◀</div>
            {{/if}}
          {{#if tradeMemoExisted}}
            <div>【{{trade_memo}}】</div>
          {{/if}}
        {{#each orders}}
          {{>orderOther}}
        {{/each}}
        {{#each orders}}
          {{>orderGeng}}
        {{/each}}
        {{#each orders}}
          {{>orderYe}}
        {{/each}}
        {{#each orders}}
          {{>orderLeng}}
        {{/each}}
        {{#each orders}}
          {{>orderMian}}
        {{/each}}
        <hr>
        {{#if discountApplied}}
          <div>
            <span>[现金抵扣]</span>
            <span class="right floated">
              -¥{{discount_fee}}
            </span>
          </div>
        {{/if}}
        {{#if postfeeApplied}}
        <div>
          <span>[配送费用]</span>
          <span class="right floated">
            ¥{{post_fee}}
          </span>
        </div>
        {{/if}}
      </div>
    <!--
    </div>
    <div class="extra content">
    <div>
    -->
      <div class="payment">
        <span class="right floated" style="{{pay_style}}">
          {{#if should_hide_amount}}
          {{else}}
            ¥{{payment}}
          {{/if}}
        </span>
        <div style="font-size: 8px">{{created}}</div>
        <div style="font-size: 8px">{{pay_time}} {{pay_type_nick}}</div>
        <div style="font-size: 8px">{{outer_tid}}</div>
      </div>
    </div>
    <div class="extra content">
      <!--
      <div style="font-size: 8px; color: black"><span><i class="comments icon"></i>微信 foodtrust</span><span class="right floated">丰巢：有机生活，点滴关爱</span></div>
      -->
      <div style="font-size: 8px; color: black"><span>{{brand_name}}</span><span><i class="comments icon"></i>{{wechat_id}}</span><span class="right floated">{{slogan}}</span></div>
      <div style="font-size: 8px; color: black"><span>服务电话</span><span><i class="call icon"></i>{{phone}}</span><span class="right floated">{{commitment}}</span></div>
    </div>
  </div>
</template>
